{
  "CORE_TESTNET_URL": "https://rpc.test.btcs.network",
  "CORE_TESTNET_DEPLOY_KEY": "",
  "CORE_TESTNET_API_KEY": "",
  "BSC_URL": "",
  "BSC_DEPLOY_KEY": "",
  "BSCSCAN_API_KEY": "",
  "POLYGONSCAN_API_KEY": "",
  "SNOWTRACE_API_KEY": "",
  "ARBISCAN_API_KEY": "",
  "ETHERSCAN_API_KEY": "",
  "BSC_TESTNET_URL": "",
  "BSC_TESTNET_DEPLOY_KEY": "",
  "ARBITRUM_TESTNET_DEPLOY_KEY": "",
  "ARBITRUM_TESTNET_URL": "",
  "ARBITRUM_DEPLOY_KEY": "",
  "ARBITRUM_URL": "",
  "AVAX_DEPLOY_KEY": "",
  "AVAX_URL": "",
  "POLYGON_DEPLOY_KEY": "",
  "POLYGON_URL": "",
  "MAINNET_URL": "",
  "MAINNET_DEPLOY_KEY": ""
}
